{% extends 'base.html.twig' %}
{% block title %}Film{% endblock %}
{% block body %}
{% include "base_admin.html.twig" %}
<div id="content-wrapper" class="d-flex flex-column">
  

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Acteurs du film {{film.titre}}</h1>
  </div>

  <div class="row">
  <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Photo</th>

      </thead>
      <tbody>
        {% for acteur in film.acteur %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{acteur.nom}}</td>
          <td>{{acteur.prenom}}</td>
          <td> <img src="{{acteur.photo}}" style="max-height: 100px"/></td>
        {% endfor %}
      </tbody>
    </table>
  </div>


  	{% if ajout==1 %}
	<div class="alert alert-success" role="alert">
  		L'acteur a bien été ajouter
	</div>
	{% endif %}
	<form method="post" class="needs-validation" novalidate>
    <div class="form-group">
      <label>Acteur</label>
      <select name="acteur_id" class="form-control" required>
        {% for acteur in acteurs %}
        <option value="{{acteur.id}}">{{acteur.nom}} {{acteur.prenom}}</option>
        {% endfor %}
      </select>
    </div>
		<button type=submit value="ajouter" class="btn btn-dark">Ajouter</button>	
	</form>
  </div>
  </div>

{% endblock %}
{% block javascripts %}
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}