{% extends 'base.html.twig' %}
{% block title %}Film{% endblock %}
{% block body %}
{% include "base_admin.html.twig" %}
<div id="content-wrapper" class="d-flex flex-column">
  

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Film</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
	<table class="table table-hover">
  			<thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Titre</th>
		      <th scope="col">affiche</th>
		      <th scope="col">description</th>
		      <th scope="col">durée</th>
		      <th scope="col">date de sortie</th>
		      <th scope="col">realisateur</th>
		      <th scope="col">acteur</th>
		      <th scope="col">categorie</th>
		      <th scope="col">nombre de bande d'annonce</th>
		      <th scope="col">nombre de photos</th>
		      <th scope="col">nombre de salles</th>
		      <th scope="col">nombre de commentaires</th>
		      <th scope="col">etat</th>
		      <th scope="col">nombre de sceances</th>


		  </thead>
		  <tbody>
		  	{% for film in films %}
		    <tr>
		      <th scope="row">{{loop.index}}</th>
		      <td>{{film.titre}}</td>
		      <td><img src="{{film.affiche}}" style="max-height: 100px" /></td>
		      <td>{{film.description}}</td>
		      <td>{{film.duree}}</td>
		      <td>{{film.dateSortie|date("m/d/Y")}}</td>
		      <td>{{film.realisateur.nom}} {{film.realisateur.prenom}}</td>
		      <td>
		      	<ul>
		      		{% for acteur in film.acteur %}
		      		<li>{{acteur.nom}} {{acteur.prenom}}</li>
		      		{% endfor %}
		      		<li><a href="{{path('film_acteur',{id:film.id})}}">
					<svg class="bi bi-file-earmark-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					  <path d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h5v-1H4a1 1 0 01-1-1V3a1 1 0 011-1h5v2.5A1.5 1.5 0 0010.5 6H13v2h1V6L9 1z"/>
					  <path fill-rule="evenodd" d="M13.5 10a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13v-1.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
					  <path fill-rule="evenodd" d="M13 12.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
					</svg>
				</a></li>
		      	</ul>
		      </td>
		      <td>
		      	<ul>
		      		{% for cat in film.categorie %}
		      		<li>{{cat.titre}}</li>
		      		{% endfor %}
		      		<li><a href="{{path('film_categorie',{id:film.id})}}">
					<svg class="bi bi-file-earmark-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					  <path d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h5v-1H4a1 1 0 01-1-1V3a1 1 0 011-1h5v2.5A1.5 1.5 0 0010.5 6H13v2h1V6L9 1z"/>
					  <path fill-rule="evenodd" d="M13.5 10a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13v-1.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
					  <path fill-rule="evenodd" d="M13 12.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
					</svg>
				</a></li>
		      	</ul>
		      </td>
		      <td>{{film.bandeAnnonce|length}} 
				
		      </td>
		      <td>{{film.photo|length}}</td>
		      <td>{{film.salle|length}}</td>
		      <td>{{film.commentaire|length}}</td>
		      <td>{{film.etat}}</td>
		      <td>{{film.sceance|length}}</td>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	</div>
	</div>
{% endblock %}