{% extends 'base.html.twig' %}

{% block title %}Hello CineController!{% endblock %}

{% block body %}

<div class="container-lg">
<div class="row row-cols-1 row-cols-md-3">
   {% for cat in categorie %} 
  <div class="col mb-4">
     
    <div class="card">
      <img src="{{cat.image}}" class="card-img-top" alt="image de la categorie {{cat.titre}}">
      <div class="card-body">
        <h5 class="card-title">{{cat.titre}}</h5>
        <p class="card-text"><small class="text-muted">{{cat.films|length}} films dans cette categorie</small></p>
        <a href="{{path('categorie_show', {'id': cat.id})}}"type="button" class="btn btn-outline-info">Voir tous</a>
      </div>
    </div>
   
  </div>
   {% endfor %}
</div>
</div>

{% endblock %}