{% extends 'base.html.twig' %}

{% block title %}Hello CineController!{% endblock %}

{% block body %}
<div class="container-lg">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{realisateur.nom}} {{realisateur.prenom}}</h5>
            <p class="card-text"><small class="text-muted">Ce realisateur a realiser {{realisateur.films|length}} film(s) </small></p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-md-3">
   {% for film in realisateur.films %} 
  <div class="col mb-4">
    <div class="card">
      <img src="{{film.affiche}}" class="card-img-top" alt="image du film {{film.titre}}">
      <div class="card-body">
        <h5 class="card-title">{{film.titre}}</h5>
        <p class="card-text">{{film.description|slice(0,150)}}</p>
        <a href="{{path('cine_show', {'id': film.id})}}"type="button" class="btn btn-outline-info">Voir le film</a>
      </div>
    </div>
   
  </div>
   {% endfor %}
</div>
</div>
    


{% endblock %}