<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{asset('asset/css/bootstrap.css')}}" rel="stylesheet">
         <link href="{{asset('asset/css/sb-admin-2.css')}}" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
         <link href="{{asset('asset/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body id="page">
        {% include "layout/layout.html.twig" %}
        <div id="wrapper" class="">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
           
                {% block body %}{% endblock %}
        </div> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{asset('asset/js/bootstrap.min.js')}}"></script>
      <script src="{{asset('asset/js/sb-admin-2.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
